include README.rst
include LICENSE
recursive-include django_survey/static *
recursive-include django_survey/fixtures *
recursive-include django_survey/templates *
recursive-exclude *.pyc
recursive-exclude *.pyo