include README.rst
include LICENSE
recursive-include django-survey/static *
recursive-include django-survey/fixtures *
recursive-include django-survey/templates *
recursive-exclude *.pyc
recursive-exclude *.pyo