{% extends "survey/base.html" %}
{% block content %}
    <div class="survey-title">{{survey.name}}</div>
    <div class="survey-description">{{survey.description}}</div>
    <form action="" method="POST">
        {% csrf_token %}
        {% if unanswered %}
        <p class="bg-danger">You must answer all questions before moving to the next section.</p>
        {% endif %}
        <ul class="survey-page">
        {% for q in questions %}
        <li class="survey-question{% if q.id in unanswered %} text-danger{%endif%}"><span class="question-text">{{q.question_text}}</span>
            <div class="survey-answers">
            {% for ans in q.answer_set.all %}
                <input class="survey-answer" type="{{q.type}}" value="{{ans.id}}"
                       {% if ans.id in answered %}
                            checked="checked"
                       {% endif %}
                       id="answer{{ans.id}}" name="question[{{q.id}}]"/>
                <label for="ans{{ans.id}}">{{ans.answer_text}}</label>
                <br />
            {% endfor %}
            </div>
        </li>
        {% endfor %}
        </ul>
        {% if questions %}
        <button type="submit" class="btn btn-info">
            {% if not next_page %}
                Finish
            {% else %}
                Next
            {% endif %}
        </button>
        {% endif %}
    </form>
{% endblock %}