{% extends "survey/base.html" %}
{% block content %}
    <div class="pages">
        {% for page_num in surveys.paginator.page_range %}
            {% if page_num == surveys.number %}
                <span class="page-current">{{page_num}}</span>
            {% else %}
                <a href="{% url 'survey:list' %}?page={{page_num}}">{{page_num}}</a>
            {% endif %}

        {% endfor %}
    </div>

    <ol class="tests-list" start={{start_at}}>
    {% for survey in surveys %}
        <li class="test-item"><a href="{% url 'survey:survey' survey_id=survey.id %}">{{survey.name}}</a><br />
        <div class="description">{{survey.shorten_description}}</div>
        <div class="created-at">{{survey.created_at}}</div>
        </li>
    {% endfor %}
    </ol>
{% endblock %}